<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenbro.cus.mapper.UserMapper">

    <sql id="userColumns">
        a.uuid AS "uuid",
        a.user_id AS "userId",
        a.user_name AS "userName",
        a.pass_word AS "password",
        a.organization AS "organization",
        a.emp_id AS "empId",
        a.create_by AS "createBy",
        a.create_date AS "createDate",
        a.update_by AS "updateBy",
        a.update_date AS "updateDate",
        a.del_flag AS "delFlag"
    </sql>

    <!--    <resultMap id="BaseResultMap" type="com.chenbro.datahub.model.User">-->
    <!--        &lt;!&ndash; 用id属性来映射主键字段 &ndash;&gt;-->
    <!--        <id column="uuid" jdbcType="VARCHAR" property="uuid" />-->
    <!--        &lt;!&ndash; 用result属性来映射非主键字段 &ndash;&gt;-->
    <!--        <result column="user_id" jdbcType="VARCHAR" property="userId" />-->
    <!--        <result column="user_name" jdbcType="VARCHAR" property="userName"/>-->
    <!--        <result column="password" jdbcType="VARCHAR" property="password"/>-->
    <!--        <result column="organization" jdbcType="VARCHAR" property="organization"/>-->
    <!--        <result column="emp_id" jdbcType="VARCHAR" property="empId"/>-->
    <!--        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>-->
    <!--        <result column="create_date" jdbcType="DATETIME" property="createDate"/>-->
    <!--        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>-->
    <!--        <result column="update_date" jdbcType="DATETIME" property="updateDate"/>-->
    <!--        <result column="del_flag" jdbcType="VARCHAR" property="delFlag"/>-->
    <!--    </resultMap>-->

    <select id="findById" parameterType="String" resultType="com.chenbro.cus.model.User">
        SELECT <include refid="userColumns"/> FROM t_user a where a.user_id = #{id}
    </select>

    <select id="findByUserInfo" parameterType="User" resultType="com.chenbro.cus.model.User">
        SELECT <include refid="userColumns"/> FROM t_user a
        WHERE a.user_name = #{userName} AND a.pass_word = #{password} AND a.organization = #{organization}
    </select>


</mapper>